.container {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

@media (max-width: 480px) {
  .container {
    padding-inline: var(--container-padding-sm);
  }
}
