html,
body {
  background: var(--color-background);
  color: var(--color-text);
}

body {
  font-family: var(--font-family), system-ui, sans-serif;
  font-size: rem(16);
  line-height: 1;
}

.flow > * + * {
  margin-top: rem(24);
}

.content-section {
  padding-block: rem(80);
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
